@{
    ViewBag.Title = "Index";
}

@*<div class="container-fluid center-text">
    <div id="show-background">
        Show background as magenta
        <input id="show-background-toggle" type="checkbox" checked>
    </div>
    <div class="card  center-text">
        <div class="card-body">
            <canvas id="canvas" width=640px height=480px></canvas>
        </div>
    </div>
</div>*@
<div id="root"></div>